.ep-board {
	display: inline-block;
	height: 70vh;
	width: 60vw;
	background: var(--light-color);
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(61, 61, 61);
	margin-top: 10px;
}
.next-button {
	position: absolute;
	height: 36px;
	width: 110px;
	border-radius: 30px;
	border: 1px solid var(--light-color);
	color: var(--light-color);
	font-size: 15px;
	text-align: center;
	top: 120px;
	right: 50px;
	cursor: pointer;
	line-height: 32px;
}
.dotted {
	background-image: -webkit-repeating-radial-gradient(
		center center,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		transparent 1px,
		transparent 100%
	);
	background-image: -moz-repeating-radial-gradient(
		center center,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		transparent 1px,
		transparent 100%
	);
	background-image: -ms-repeating-radial-gradient(
		center center,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		transparent 1px,
		transparent 100%
	);
	background-image: repeating-radial-gradient(
		center center,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		transparent 1px,
		transparent 100%
	);
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
}

.ep-game {
	padding: calc(10vh - 35px) 5vw;
}

.ep-pin {
	position: absolute;
	padding: 10px;
	background: rgb(255, 255, 130);
	height: max-content;
	width: min-content;
	box-shadow: 0 1px 1px rgb(61, 61, 61);
	border-radius: 5px;
}
