.ep-pin{
    position: absolute;
    padding: 5px 10px;
    background: rgb(255, 255, 130);
    height: max-content;
    width: min-content;
    box-shadow: 0 1px 1px rgb(61, 61, 61);
    border-radius: 5px;
    font-size: 12px;
    cursor: grabbing;
}

.pain{
    color: #8390ce;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: calc(100% - 40px);
    text-align: center;

}

.effort{
    width: 10px;
    font-size: 40px;
    color: #8390ce;
    margin-left: 2px;
    margin-top: calc(35vh - 187px);
}